<footer class="bg-black text-white">
  <div class="container">
    <div class="py-12 px-6">
      <p>I am not on social media much in a personal context. In 2016, <a class="text-white underline" href="https://medium.com/@_ericandrew/balance-and-the-internet-f3597c0611f9">I wrote about it</a> and not much has changed.
      </p>
      <ul class="flex" id="socials">
        <li class="mr-4"><a target="_blank" href="https://calendly.com/eric-andrew-portfolio"><i class="far fa-calendar-plus fa-lg text-white"></i></a></li>
        <li class="mr-4"><a target="_blank" href="http://dribbble.com/eric-andrew"><i class="fab fa-dribbble fa-lg text-white"></i></a></li>
        <li class="mr-4"><a target="_blank" href="http://github.com/eric-andrew"><i class="fab fa-github fa-lg text-white"></i></a></li>
        <li class="mr-4"><a target="_blank" href="http://linkedin.com/in/eric-mackey"><i class="fab fa-linkedin-in fa-lg text-white"></i></a></li>
        <li class="mr-4"><a target="_blank" href="mailto:hello@eric-andrew.com"><i class="far fa-envelope fa-lg text-white"></i></a></li>
      </ul>
      <!-- <a class="backToTop">Back to Top</a> -->
    </div>
  </div>
</footer>
