<footer class="bg-black text-white">
  <div class="container">
    <div class="py-12 px-6">
      <p>I am not on social media much in a personal context. In 2016, <a class="text-white underline" href="https://medium.com/@_ericandrew/balance-and-the-internet-f3597c0611f9">I wrote about it</a> and not much has changed.
      </p>
      <ul class="" id="socials">
        <li><a class="text-white font-normal" href="../about.html">About</a></li>
        <li class="mr-4"><a target="_blank" class="text-white font-normal hover:text-grey-700" href="mailto:hello@eric-andrew.com">LinkedIn</a></li>
        <li class="mr-4"><a target="_blank" class="text-white font-normal" href="http://linkedin.com/in/eric-mackey">Shoot me an email</a></li>
      </ul>
      <!-- <a class="backToTop">Back to Top</a> -->
    </div>
  </div>
</footer>
