<div class="flex container flex-wrap">
	<div class="sm:w-full md:w-full lg:w-2/3 px-6 py-12">
		<h5>{{years}}</h5>
		<h3>{{title}}</h3>
		<p class="animated px-0">{{description}}</p>
		<h5 class="font-serif">My Roles</h5>
		<div class="separator border-gray-200"></div>
		<ul>
			{{#each roles}}
			<li class="">{{this}}</li>
			{{/each}}
		</ul>
		<h5 class="font-serif">Tools</h5>
		<div class="separator border-gray-200"></div>
		<ul>
			{{#each tools}}
			<li class="">{{this}}</li>
			{{/each}}
		</ul>
	</div>
</div>
