<div id="suggested">
	<div class="container flex justify-between p-6">
		{{#if prev}}
      <a class="prev" href="{{prevLink}}"><i class="fas fa-angle-double-left fa-lg"></i> {{prev}}</a>
    {{/if}}
		{{#if next}}
      <a class="next" href="{{nextLink}}">{{next}} <i class="fas fa-angle-double-right fa-lg"></i></a>
			{{else}}<div>	You've reached the end! Wanna chat? Shoot me an <a href="mailto:hello@eric-andrew.com?subject=i got to the end of your portfolio">email</a></div>
    {{/if}}
	</div>
</div>
