body {
  background-color: #fff;
  scroll-behavior: smooth;
  @apply text-gray-700;
}
h1, .h1 {
  @apply font-display text-4xl;
  letter-spacing: .5px;
  margin-bottom: 20px;
}
h2, .h2 {
  @apply font-display text-3xl;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
h3, .h3 {
  @apply font-display text-2xl;
  margin-bottom: 10px;
}
h4, .h4 {
  @apply font-display text-xl tracking-wide;
  margin-bottom: 10px;
}
h5, .h5 {
  @apply text-xs tracking-wide font-normal;
  margin-top: 12px;
}
h6, .h6 {
  font-size: 14px;
  font-weight: 700;
}
p {
  @apply text-base text-gray-700;
  padding: 0 0 1rem 0;
  font-size: 0.875rem;
  font-weight: 400;
}
#pulldown i {
  padding-top: 3px;
  transition: transform 0.4s ease-in-out;
}
#pulldown[aria-expanded="true"] > i {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.work-tile {
  transition: all .3s .1s;
}
.work-tile:hover {
  transform: scale(1.02);
}
.work-tile > a > div > img {
  border-radius: 3px 0px 0px 3px;
}
#anomali.work-tile > a > div:first-child {
  background-image: linear-gradient(270deg, #445C67 0%, #586A75 100%);
}
#anomali.work-tile > a > div > img {
  padding: 40px;
  height: 367px;
}
.separator {
  width: 130px;
  margin: 2px 0 12px;
  content: "";
  display: block;
  border-width: 1px;
  border-style: solid;
}
a,
p > a,
li > a {
  text-decoration: none;
  transition: .2s all;
}
.button {
  @apply bg-blue-300 text-white;
  border-radius: 3px;
  padding: 8px 12px;
}
.button > i { @apply px-2; }

.button:hover {
  @apply bg-blue-800 text-white;
  text-decoration: none;
}
.button.next {
  padding: 8px 12px 8px 20px;
}
.button#homeBtn {
  padding: 8px 22px 8px 12px;
}

nav a {
  text-decoration: none;
  font-weight: 400;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  margin-bottom: 20px;
  align-self: center;
}
figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
figure > img {
  margin-bottom: 0.75rem;
}
figure > figcaption {
  @apply self-end font-serif text-gray-600 text-xs;
}
#suggested .two-links {
  justify-content: space-between;
}
#photo_break {
  background-image: url("../assets/elle_aye.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
@media (max-width: 400px) {
  #photo_break {
    height: 30vh;
    width: 100vw;
    margin-bottom: 1rem;
  }
}
#homepage_break {
  max-width: 100%;
  margin: 100px 0;
}

/*===========================================*/
/* Base classes for all media - Mobile first */

h1 {
  line-height: 1.25;
}
.container > p:first-of-type,
.container > h1:first-of-type {
  max-width: 65%;
}
.work-container {
  max-width: 820px;
  @apply mx-auto;
}
header,
.inner {
  padding: 50px 0;
}
.col {
  flex-direction: column;
}
footer > ul {
  display: flex;
}
/* Tablet (medium) screens */
@media (min-width: 767px) and (max-width: 1024px) {
  .tile_logo {
    height: 193px;
  }
  .container {
    max-width: 100%;
    padding: 0 25px;
  }
  #slices > h2 {
    padding-left: 0px;
    font-size: 32px;
  }
  footer > .inner ul#socials {
    display: none;
  }
  .navbar > ul,
  #dt-logo {
    display: flex;
    align-self: center;
  }
}
/* Large screens */
@media (min-width: 1025px) {
  footer > .inner ul#socials {
    display: none;
  }
  #SAP #twfmgmt {
    width: 100%;
  }
  #SAP img:not(#sap-logo) {
    max-width: 100%;
    min-width: 75%;
    align-self: center;
    box-shadow: 3px 3px 15px 0px #999;
  }
  #SAP #sap-logo {
    max-width: 160px;
  }
}
